.home{
    margin: 0;    
    padding: 0;
    margin-top: -3rem;
    height: 30rem;
    border-left: solid 4rem rgb(234, 225, 135); ;
    border-right: solid 4rem rgb(234, 225, 135);
    background-color: rgb(234, 225, 135);
    background-image: url("/images/evolucao-biquini.png");
    background-size: 100%; 
    background-repeat: no-repeat;     
}
 
.titles{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 15rem;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 2.8px #1c577c;
   
}

.title{
    font-size: 5em;
}

.subtitle{
    font-size: 3em;
}

@media(max-width: 1200px){
    .titles{
        top: 6rem;
    }
}

@media(max-width: 760px){
    .home{
        background-repeat: repeat;
    }
}

@media(max-width: 600px){
    .titles{
        top: 6rem;
    }
    .title{
        font-size: 4em;
    }
    .subtitle{
        font-size: 2.5em;
    }
}