footer{
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #fff;
    text-align: center;
    background-color: rgb(250, 248, 242);
}

.logoFooter{
    width: 10%;
}

.icon{
    text-decoration: none;
    margin: .5rem;
    color: #1c577c;
}

.icon:hover{
    color: #f3b62c;
    cursor: pointer;
}

.iconList li{
    text-decoration: none;
    display: inline;
}

ul{ padding-left: 0; }

@media(max-width: 600px){
    .logoFooter{
        width: 25%;
    }
}