*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ---General Styles--- */

html{ scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(28, 87, 124);
}

section{ padding-bottom: 2rem; }

/* Typography */
h1, h2, h3, h4{
  line-height: 1;
  margin: 0;
}

/* Buttons */
button:focus{ outline: none; }